.navigation {
  background: rgba(0, 0, 0, 0.296);
  padding: 0 15px;
  min-height: 40px;
  display: flex;
  align-items: center;

  &__menu {
    margin: 0;
    padding-left: 5px;
    display: flex;
  }

  &__link {
    margin-right: 10px;
    padding: 3px;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 480px) {
  .navigation {
    min-height: 60px;
    padding: 0 35px;
  }
  .navigation__link {
    font-size: 15px;
  }
}

@media only screen and (min-width: 601px) {
  .navigation {
    position: relative;
    min-width: 120px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.2);

    &__menu  {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      }
      
    &__link {
      display: block;
      margin-bottom: 10px;
    }  
  }
  
}

