.navigation__link_5 {
  text-decoration: underline;
}

.wraper {
  background: url(../pictures/background-2.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.content-order {
  background: rgba(255, 255, 255, 0.99);
  flex: 1 0 auto;

  &__row {
    min-width: 320px;
    max-width: 550px;
    margin: 0 auto;
  }
  &__header {
    text-align: center;
    font-size: 26px;
    margin-bottom: 40px;
  }
}

.form-section {
  margin-bottom: 20px;
  border-bottom: solid 1px black;
  padding: 0 20px;
  
  &__name {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__part {
    font-weight: 200;
    margin:10px 0 5px ;
    display: flex;
    justify-content: space-between;
  }
}
.card-type {
    margin-bottom: 35px;

  &__part{
    margin-right: 71px;
  }
  &__header {
    margin-left: 10px;
  }
}
#same-as-delivery {
  margin-right: 140px;
  vertical-align: bottom;
  width: 17px;
  height: 17px;
}

.submit-button {
  margin: 30px;
  float: right;
}

input{
  width: 150px;
  height: 19px;
  border: solid 1px black;
}

input:valid {
  border-bottom: 2px solid green;
}

input:invalid {
  border-bottom: 2px solid red;
}
input:invalid:focus {
  background-color: pink;
}
.error {
  margin-right: 10px;
  margin-top: 0;
  text-align: right;
  font-weight: 200;
  color:red;
  font-size: 13px;
}