.wraper {
  background: url(../pictures/background-2.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.content-result {
  background: rgba(255, 255, 255, 0.99);
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.result {
  min-width: 320px;
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
}

.result__header {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

.result__element {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment {
  display: block;
  overflow: scroll;
}

.section-header {
  text-align: center;
  margin-bottom: 20px;
}
